/* @import "tailwindcss"; */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari Support */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: 2px;
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none; /* optional to prevent accidental clicks when empty */
}

/* body{
  overflow: hidden;

} */

CreateProductForm.css
.createProductContainer {
  padding: 1rem;
  overflow-y: auto; /* important */
  max-height: 100vh; /* only if you're restricting height */
}
